<footer>
    <div id="contient">
    <p id="pp">© <span id="mini-p">2025</span> CocoCatDev. Tous droits réservés.</p>
    </div>
    <script>
        const container = document.getElementById("contient");

        const pp = document.getElementById("pp");
    
        document.getElementById("mini-p").textContent = new Date().getFullYear();
        


        pp.addEventListener("click",() => {
            const divi = document.createElement("div");
            const coco = document.createElement("p");
            coco.textContent = "Salut petit malin ! Si tu veux, j'ai une super anecdote ! Coco, c'était le nom de mon chat.";
            divi.appendChild(coco);
            container.appendChild(divi)
        });
    
    </script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</footer>
