{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}

<header>
    <h1>Bienvenue sur le site de CocoCatDev</h1>
    

</header>

<nav class="nav_dessus">
    <ul class="custom-list">
        <li class="l1">HTML/CSS</li>
        <li class="l2">JavaScript</li>
        <li class="l3">Python</li>
        <li class="l4">Pygame</li>
        <li class="l5">Tkinter</li>
        <li class="l6">Langage C</li>
    </ul>
    <button type="submit"><a href="{{ url_for('contact') }}">Contact</a></button>
    <button type="submit"><a href="{{   url_for('redirige')}}">Mes repos</a></button>
</nav>

<div class="par">
    <p>Coco, enchanté ! Moi, ce qui m'anime (en dehors des pages web), c'est d'apprendre, plus, encore et
encore. Je ne me vois pas vivre un jour et me dire que je sais tout ce que j'ai à savoir. Sur un plan plus
léger, j'aime les chats (pas très difficile à deviner), les jeux vidéos, la musique.
Je me suis essayé au developpement de jeux vidéos avec Python pygame. C'est quelque chose que j'aime faire
dans mon coin. Je suis quelqu'un qui aime la sociabilité, mais qui a aussi un grand besoin de solitidue.
Sinon, je suis débutant en dev web. Je connais bien les toutes bases.</p>
</div>

<div class="yt">
    <h2>Mes YouTubeurs favoris !</h2>
    <ul class="list">
    <li class="li1"><a href="https://www.youtube.com/@EvoluNoob">EvoluNoob</a></li><br>
    <li class="li2"><a href="https://www.youtube.com/@Elparadeponpon">Elparadeponpon</a><br></li>
    <li class="li3"><a href="https://www.youtube.com/@LeoTechMaker">LeoTechMaker</a></li>
    </ul>
</div>

<p>Voici le super message !</p>


<hr>

{% for content in contenus %}
    <p>{{ content[0] }}</p>
{% endfor %}

<hr>

{% endblock %}
