{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}

<header>
    <h1>Bienvenue sur le site de CocoCatDev</h1>
    

</header>

<nav class="reveal" id="nav_dessus">
    <ul class="custom-list">
        <li class="l1">HTML/CSS</li>
        <li class="l2">JavaScript</li>
        <li class="l3">Python</li>
        <li class="l4">Pygame</li>
        <li class="l5">Tkinter</li>
        <li class="l6">Langage C</li>
    </ul>
    <button type="submit"><a href="{{ url_for('contact') }}">Laisse un super message !</a></button>
</nav>

<div class="reveal" id="par">
    <p>Bonjour ! Moi c'est CocoCatDev, ravi de faire votre connaissance ! Jeune apprenti developpeur <strong>autodidacte</strong>,<br>
        j'ai créer ce petit site dans l'objectif de m'exercer au developpement web. Ayant commencé la programmation<br>
        très jeune avec le langage <em>python</em>, j'ai poursuivi mon apprentissage avec le C (quelques bases), et le <strong>JavaScript.</strong><br>
        Avec python, j'ai appris le concept de POO, à concevoir des applications desktop légères (avec Tkinter), puis des <br>
        jeux vidéos avec pygame. Plus récemment, j'ai commencé à apprendre le mini-framework Flask avec lequel j'ai développé la partie<br>
        back-end du présent site Web. Je suis débutant en Javascript, ce site me permet d'apprendre et experimenter. <br>
        Plus bas, <a style="color:blue; text-decoration: solid;" href="#repos-list">vous pourrez voir mes repository sur GitHub</a>.<br>
        Cela vous permettra d'explorer mes petits projets en cours.<br> 
        En terme de passions et hobbies, les choses qui me passionnent (en incluant <strong>(évidemment !)</strong>) l'informatique<br>
        sont : les animaux, la musique (electro for life) et sinon je m'interesse à des tas de choses ! Je suis très curieux. 
</div>

<div class="reveal" id="yt">
    <h2>Mes YouTubeurs favoris !</h2>
    <ul class="list">
    <li class="li1"><a href="https://www.youtube.com/@EvoluNoob">EvoluNoob</a></li><br>
    <li class="li2"><a href="https://www.youtube.com/@Elparadeponpon">Elparadeponpon</a><br></li>
    <li class="li3"><a href="https://www.youtube.com/@LeoTechMaker">LeoTechMaker</a></li>
    </ul>
</div>

<p>Voici le super message !</p>


<hr>

{% for content in contenus %}
    <p>{{ content[0] }}</p>
{% endfor %}

<hr>


<h1>Mes repos GitHub</h1>

<input type="text" id="recherche" placeholder="Rechercher un repo..." >

<div class="reveal" id="repo-list"></div>




{% endblock %}


