<!DOCTYPE html>
<html lang="'fr">
<head>
    <meta charset="utf-8">
    <tltle>Coco Cat Dev | page principale</tltle>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="nav_dessus">
        <h1 class="titre1">Bienvenue sur le site de CocoCatDev</h1>

        <img src="coco.png" alt="mon logo" width="30">

        <p class="l1">HTML/CSS</p>
        <p class="l2">JavaScript</p>
        <p class="l3">Python</p>
        <p class="l4">Pygame</p>
        <p class="l5">Tkinter</p>

        <button type="submit"><a href="{{ url_for('contact') }}">Contact</a></button>


    </nav>
    <div class="par">
    <p>Coco, enchanté ! Moi, ce qui m'anime (en dehors des pages web), c'est d'apprendre, plus, encore et<br>
    encore. Je ne me vois pas vivre un jour et me dire que je sais tout ce que j'ai à savoir. Sur un plan plus<br>
    léger, j'aime les chats (pas très difficile à deviner), les jeux vidéos, la musique.<br>
    Je me suis essayé au developpement de jeux vidéos avec Python pygame. C'est quelque chose que j'aime faire<br>
    dans mon coin. Je suis quelqu'un qui aime la sociabilité, mais qui a aussi un grand besoin de solitidue.<br>
    Sinon, je suis débutant en dev web. Je connais bien les toutes bases. 
</p>
</div>

<div class="yt">
    <h2>Mes YouTubeurs favorits !</h2>

    <p>Quoi de mieux que YouTube pour accentuer sa créativité !</p>

    <a href="https://www.youtube.com/@EvoluNoob">Chaine de Evolunoob ! Parfait pour apprendre à coder ! J'y ai appris le<br>
    Python notemmant !</a><br>
    <a href="https://www.youtube.com/@Elparadeponpon">Une chaîne d'exception !</a><br>
    <a href="https://www.youtube.com/@LeoTechMaker">On ne le présente plus !</a>
</div>


        <p>Voici le super message !}</p>

        {% for content in contenus %}
            <p>
                {{ content[0] }}
            </p>
        {%  endfor  %}


</body>

</html>